<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Add New Task | Task Management</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="title">
        Add New Task
    </div>
    <form th:action="@{/tasks/new}" method="post">
        <div class="field">
            <input type="text" name="taskName" required>
            <label>Task Name</label>
        </div>
        <div class="field">
            <input type="submit" value="Create Task">
        </div>
    </form>
</div>
</body>
</html>
